#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

override_dh_install:
	dh_install

	(cd bindings; python3 setup.py install --install-lib ${CURDIR}/debian/collect-agent/usr/lib/python3/dist-packages/)

%:
	dh $@ 
