#!/usr/bin/env python3
# -*- coding: utf-8 -*-

# OpenBACH is a generic testbed able to control/configure multiple
# network/physical entities (under test) and collect data from them. It is
# composed of an Auditorium (HMIs), a Controller, a Collector and multiple
# Agents (one for each network entity that wants to be tested).
#
#
# Copyright © 2016-2023 CNES
#
#
# This file is part of the OpenBACH testbed.
#
#
# OpenBACH is a free software : you can redistribute it and/or modify it under
# the terms of the GNU General Public License as published by the Free
# Software Foundation, either version 3 of the License, or (at your option)
# any later version.
#
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY, without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
# more details.
#
# You should have received a copy of the GNU General Public License along with
# this program. If not, see http://www.gnu.org/licenses/.


__author__ = 'Viveris Technologies'
__credits__ = '''Contributors:
 * Joaquin MUGUERZA <joaquin.muguerza@toulouse.viveris.com>
'''


import syslog
import curator
import elasticsearch

ELASTICSEARCH_ADDRESS = 'localhost:{{ elasticsearch_port }}'
CLOSE_UNIT='days'
CLOSE_UNIT_COUNT=30
DELETE_UNIT='years'
DELETE_UNIT_COUNT=1


def close_indices(client, unit=CLOSE_UNIT, unit_count=CLOSE_UNIT_COUNT):
    try:
        ilo = curator.IndexList(client)
        ilo.filter_by_age(
                source='name', direction='older',
                timestring='%Y.%m.%d', unit=unit,
                unit_count=unit_count)
        close_indices = curator.Close(ilo)
        close_indices.do_action()
    except curator.exceptions.NoIndices as e:
        pass
    except curator.exceptions.FailedExecution as e:
        syslog.sendlog(syslog.LOG_ERR, 'ERROR Failed execution: {}'.format(e))

def delete_indices(client, unit=DELETE_UNIT, unit_count=DELETE_UNIT_COUNT):
    try:
        ilo = curator.IndexList(client)
        ilo.filter_by_age(
                source='name', direction='older',
                timestring='%Y.%m.%d', unit=unit,
                unit_count=unit_count)
        close_indices = curator.DeleteIndices(ilo)
        close_indices.do_action()
    except curator.exceptions.NoIndices as e:
        pass
    except curator.exceptions.FailedExecution as e:
        syslog.sendlog(syslog.LOG_ERR, 'ERROR Failed execution: {}'.format(e))

if __name__ == "__main__":
    client = elasticsearch.Elasticsearch(ELASTICSEARCH_ADDRESS)
    syslog.openlog("curator_cron_task")
    close_indices(client)
    delete_indices(client)
    syslog.closelog()
