[Unit]
Description=Startup script for OpenBACH Backend
Requires=network.target pgbouncer.service
After=pgbouncer.service

[Service]
Type=simple
User=openbach
Group=openbach
RuntimeDirectory=openbach
WorkingDirectory=/opt/openbach/controller/backend/
ExecStart=uwsgi --master --workers 5 --http-socket :{{ django_port }} --plugin python3 --module backend.wsgi --static-map /static=/opt/openbach/controller/backend/static_root --pidfile /run/openbach/openbach_backend.pid --die-on-term
ExecStop=uwsgi --stop /run/openbach/openbach_backend.pid
ExecReload=uwsgi --reload /run/openbach/openbach_backend.pid
PIDFile=/run/openbach/openbach_backend.pid

[Install]
WantedBy=multi-user.target
