<div class="page-wrap">
  <section>
    <div class="container">
      <div class="row">
          <div class="col-lg-12">
            <h1 class="page-header">Steering commitee
            </h1>
          </div>
      </div>
    </div>

    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>The OpenBACH steering committee aims are:</p>
          <ul>
            <li>take administrative decisions related to platform steering,</li>
            <li>define the contractual aspects associated (e.g. steering committee opening criterias
              and confitions for eventual new members according to their contribution, ...),</li>
            <li>keep the present agreement observed and take decisions related to its execution,</li>
            <li>choose licenses applied on new platform modules,</li>
            <li>maintain a <a rel="section" href="#contributor-agreement">Contributor Agreement</a>
              in order to encourage platform users to identify and inform the whole community of all
              modifications on the platform available in the applicable open sources conditions (GPLv3),</li>
            <li>animate the community and particularly organise annual meeting with all its members,</li>
            <li>take technical decisions related to platform steering,</li>
            <li>define maintenance jobs,</li>
            <li>coordinate the different jobs realised by the contributors,</li>
            <li>define the technical orientations of the platform (e.g. architecture choices, addition of
              new functionalities, maintenance choices, ...).</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="font-blue">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="steering-committee" id="members">Members</h2>
          <p><a href="http://www.cnes.fr/web/CNES-en/7114-home-cnes.php"
             title="CNES website" hreflang="en">CNES</a>  as founder of OpenBACH Community
             and major contributor, is the first Member of OpenBACH Steering Committee, in
             charge of all technical and administrative decisions concerning OpenBACH.
             Depending on their contributions to OpenBACH, the Steering Committee
             may decide, by unanimous decision, to invite other important contributors
             to join the Steering Committee as new Member.</p>
          <p>The objective of the <abbr style="text-decoration:none" title="Centre National d'Etudes Spatiales">CNES
             </abbr> is to better optimize and rationalize the research and development in the telecommunications
             domain. It should avoid duplication of efforts and therefore facilitate programs
             of new networking solutions.</p>
        </div>
      </div>
    </div>
  </section>
  <br>
</div>
