<!-- Page Content -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Related tools & Jobs</h1>
      </div>
    </div>
  </div>

  <!-- Page Content -->
  <div class="page-wrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>OpenBACH is capable of performing tasks on different distant Agents thanks to the Jobs.</p>
          <br>
          <p> A Job is defined as a number of individual tasks to be executed in a sole Agent. A job might be able to launch/configure other existing software tools (e.g. ping/iperf), configure OS parameters and/or collect/generate statistics. Therefore, the Job might include an existing tool in order to controle the tool, parse its output, compute statistics and/or many others tasks. This is done in order to adapt the tool to the needs of OpenBACH and/or to the target benchmark depending on the needs of users. </p>
          <br>
          <p>A list of the existing tools that are included within the OpenBACH Jobs can be found in <a href="https://wiki.net4sat.org/doku.php?id=openbach:exploitation:jobs:index">the wiki </a>:
          <ul>
            <li><b>Admin jobs</b>: Core administration jobs for internal OpenBACH use</li>
            <li><b>Core jobs</b>: Minimal Metrology jobs which are embedded in the installation. Supported by OpenBACH team</li>
            <li><b>Stable jobs</b>: Stable jobs supported by the OpenBACH team that are not installed by default but easily added to your platform. </li>
            <li><b>Experimental jobs</b>: Experimental jobs that have been used but not supported (they may have bugs). </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section> 
