#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

override_dh_install:
	dh_install

	(cd bindings; LDFLAGS="-L${CURDIR}/build/" CPPFLAGS="-I${CURDIR}/src/" pip3 install --root ${CURDIR}/debian/collect-agent/ .)
	# TODO: Get pip to install directly into /usr instead of /usr/local
	(cd ${CURDIR}/debian/collect-agent/usr/; mv local/lib/* lib/; rmdir -p local/lib/)


%:
	dh $@ 
